@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
.App {
  text-align: center;
}
#loan-info{
  background-color: #3dbfd9;
  padding-bottom: 50px;
}
h1{
  margin: 0px 30px 0px 30px;
  width: 150px;
  color: rgb(11, 9, 9);
  font-family: 'Arimo', sans-serif;
}
h3{
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}
.header{
  padding: 30px 0 30px 0;
  background-color: #1b7ac2;
  color: #d48722;
}
.header-desc{
  padding-top: 20px;
}
.loan-row{
  display: flex;
  align-items: center;
  padding: 10% 10% 0 10%;
}
.loan-slider{
  width:100%;
}
.amt-input{
  width: 30%;
  height: 25px;
  margin:0px 30px 0px 30px ;
  border: none;
  border-bottom: dotted;
}
.interest-row{
  display: flex;
  align-items: center;
  padding: 10% 10% 0 10%;
}
.tenure-row{
  display: flex;
  align-items: center;
  padding: 10% 10%;
}
.cal-button{
  padding: 20px;
  background-color: #f56642;
  color: white;
}
.emi-total{
  display: flex;
}
.loan-diagrams{
  display: flex;
  padding-top: 50px;
} 
.loan-table{
  width: 25%;
  margin-right: 400px;
}




